#settings {
  margin: 0px;
  padding: 0px;
  
  border: 1px solid black;
}

#settings {
  button {
    margin: 10px;
    padding: 10px;
  }

  select {
    margin: 10px;
    padding: 10px;

    border: 1px solid black;
  }
}

#settings {
  /* display: none; */
}
