#tuning {
  margin: 0px 0px;
  padding: 10px 10px;
  
  border: 1px solid black;
}

#tuning {
  /* delete */
  /* .guitar {
    display: block;
  }
  
  .bass-guitar {
    display: none;
  } */

  .capo {
    color: red;
  }
}
